<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>get all colleges</title>
</head>
<body>
<button> <a href="{% url 'add_college_html' %}">+add college</a></button>
<table border="1">
    <tr>
        <th>College</th>
        <th>Acronym</th>
        <th>Action</th>
    </tr>
    {%for college in colleges %}
    <tr>
        <td>{{college.name}}</td>
        <td>{{college.acronym}}</td>
        <td><a href="{% url 'edit_college_html' college.acronym %}">edit</a></td>
         <td><a href="{% url 'delete_college_html' college.acronym %}">delete</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>