<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button><a href=""></a></button>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Created</th>
    </tr>
    <tbody>
       {{todolist.as_P}}
    </tbody>

</table>

</body>
</html>