<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>matches</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
</head>


    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-menu" id="navMenuColorprimary-example">
        <div class="navbar-start">
            <div class="navbar-item">
                IPL Season {{season}}
            </div>


                    <div class="navbar-item">
                        <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link">
                                  seasons
                                </a>

                                <div class="navbar-dropdown">
                                    {% for season in seasons %}
                                    <strong><a class="navbar-item" href="{% url 'get_matches' season.season %}">
                                      {{season.season}}
                                    </a></strong>
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
        </div>
        <div class="navbar-end">
                {% if request.user.is_authenticated %}
                    <div class="navbar-item">
                        <img src="{{image.image.url}}">
                    </div>
                    <div class="navbar-item">
                        {{request.user.username}}
                    </div>
                    <div class="navbar-item">
                        <button class="button is-black" onclick="window.location.href={% url 'logout_html' %}"> logout </button>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <div class="buttons">
                             <button class="button is-black" onclick="window.location.href={% url 'login_html' %}"> login </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>


     </div>
    </nav>
    <span>

    </span>
    <div style="padding:15px" class ="container is-fluid">
    {%for mat in matches %}

    <div class="box">

            <strong>{{mat.team1}} vs {{mat.team2}}</strong><br>
            <strong>Venue:</strong> {{mat.venue}}<br>
            <strong> Toss result :</strong> won by {{mat.toss_win}}<br>
            <strong> Toss Desision :</strong> opted to {{mat.toss_decision}}<br>
            <strong>Player of the match :</strong>{{mat.player_of_match}}<br>
            <br>
            <div class="buttons">

                <button class="button is-black" onclick="window.location.href='{% url 'get_matchdetails' season mat.id %}'"> view match details</button>

            </div>


        </div>
    {% endfor %}
</div>
</div>
<nav class="pagination is-centered is-rounded is-medium" role="navigation" aria-label="pagination">



        {% if matches.has_previous %}
            <a class ="pagination-previous" href="?page={{ matches.previous_page_number }}">previous</a>
        {% else %}
            <a class="pagination-previous" href="?page=1">&laquo; first</a>
        {% endif %}

        {% if matches.has_next %}
            <a class="pagination-next" href="?page={{ matches.next_page_number }}">next</a>
        {% else %}
            <a  class="pagination-next" href="?page={{ matches.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

        <ul class="pagination-list">
            <li>
                Page {{ matches.number }} of {{ matches.paginator.num_pages }}.
            </li>
        </ul>

</nav>
</body>
</html>